Django
djangorestframework
django-cors-headers
django-filter
drf-spectacular
djangorestframework-simplejwt
social-auth-app-django
gunicorn
django-guardian
psycopg[binary]
celery
redis
Pillow
WeasyPrint
boto3
resend
stripe
structlog
python-json-logger
sentry-sdk
python-decouple
python-dateutil
requests
prometheus-client
django-prometheus
django-ratelimit
django-redis
setuptools
wheel
